ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2B7A0B;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #F77E21;
}

img {
position: absolute;
right: 10px;
top : 0;
height: 20%;
border-radius: 50%;
}

.heading {
text-align: center;
}

.sar {
  color: #F77E21;
}

.farms {
  color: #2B7A0B;
}
